extends layout
block content

    form.form-signin(method="POST",href="/")
        h1.h3.mb-3.font-weight-normal Please sign in
        label.sr-only(for='inputUserName') User Name
        input.form-control(type='text', name="username" placeholder='Enter your user name', required='', autofocus='')
        label.sr-only(for='inputUserId') User ID
        input.form-control(type='text', name="userid" placeholder='Enter your user ID', required='').checkbox.mb-3
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
        br
    h3 New User? 
    h4
        a.link(href='/api/exercise/new-user') Set up an account
       




